{% extends 'citizen-header.html' %}
{% load static %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        
      <div class="row">
          
        <div class="col-md-8">
          <div class="card">
            
            <div class="card-header card-header-primary">
              <h4 class="card-title">Add Complain</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
                <form role="form" action="{% url 'add-complain' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <input class="form-control" name="subject" placeholder="Complain Subject" type="text" required>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <textarea name="des" id="" cols="30" rows="10"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <label for="">Complain Type : </label>&nbsp;
                        <select name="comp_type" id="">
                            <option value="">--</option>
                            <option value="parking">Matrimonial</option>
                            <option value="lift">Commercial</option>
                            <option value="cleaness">Corruption</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <label for="">Complain Picture : </label>
                        <input class="form-control" name="comp_pic" placeholder="Complain Pic" type="file">
                      </div>
                    </div>
                    

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary mt-4">Add Complain</button>
                    </div>
                  </form>
                  {{msg}}
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}