{% extends 'citizen-header.html' %}
{% load static %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        {{msg}}
      <div class="row">
          
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Edit Complain</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <form action="{% url 'edit-complain' complain.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Subject</label>
                      <input type="text" name="subject" value="" class="form-control">
                    </div>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating">Discription</label>
                      <textarea name="des" id="" cols="30" class="form-control" rows="10">{{complain.des}}</textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  
                <div class="col-md-6">
                    <div class="form-group">
                      <label>Comp_at  </label>
                      <input type="date" name="comp_at" value="{{comp_at}}" class="form-control">
                    </div>
                  </div>
                </div>
                
                <label for="" class="bmd-label-floating">Complain Image : </label>
                {% if complain.comp_pic %}
                <input type="file" name="epic" value="{{complain.pic.url}}" id="">
                <img src="{{complain.comp_pic.url}}" alt="" width="100px" height="100px">
                {% else %}
                <input type="file" name="epic"  id="">

                {% endif %}
                <button type="submit" class="btn btn-primary pull-right">Edit Complain</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}